<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Gails | naseeihity" />
    <link
      rel="shortcut icon"
      href="/assets/images/favicon.png"
      type="image/x-icon"
    />
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/assets/css/application.css" />
    {{template "head" .}}
    <title>Gails | {{.title}}</title>
  </head>
  <body>
    <div class="navbar">
      <div class="container">
        <div class="navbar-header clearfix">
          <a class="nav-logo" href="/">G</a
          ><a class="nav-name" href="/">Gails</a>
        </div>
        <div class="navbar-container">
          <ul class="nav navbar-nav navbar-menu">
            <li><a class="nav-item" href="/">Home</a></li>
            <li><a class="nav-item" href="/news">News</a></li>
            <li><a class="nav-item" href="/about">About</a></li>
          </ul>
          <ul
            class="nav navbar-nav navbar-right"
            style="height: 55px; width: 80px;"
          >
            <li class="dropdown nav-item">
              <button
                type="button"
                class="btn btn-info dropdown-toggle"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Gails
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="/articles/new">New</a>
                <a class="dropdown-item" href="/users/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      {{template "content" .}}
    </div>
    <footer class="footer">
      <p>
        Power By Gails, Inspired By &nbsp;<a href="https://kails.org"
          >&copy; Kails</a
        >
      </p>
    </footer>
    <script src="/assets/js/jquery.min.js"></script>
    <script async src="/assets/js/bootstrap.min.js"></script>
  </body>
</html>
