{{define "head"}}
 <link rel="stylesheet" href="/assets/css/article.css" />
{{end}} {{define "content"}}
<div id="articles">
  <div class="articles">
    {{range .articles}}
    <article class="article">
      <h2 class="article-title">
        <a href="/articles/detail/{{.ID}}" class="article-link">{{.Title}}</a>
      </h2>
      <div class="article-info">
        Posted at: &nbsp;<time title="{{ .CreatedAt.Format "2006-01-_2 15:04" }}">{{.CreatedAt.Format "2006-01-_2 15:04"}}</time>,
        &nbsp;{{.Name}}
      </div>
      <div class="article-description">
        <p>{{.Abstract}}</p>
      </div>
      <a href="/articles/detail/{{.ID}}" class="read-more">...more</a>
    </article>
    {{end}}
  </div>
</div>
<h5 class="text-right">Toal count: {{.count}}</h5>
{{end}}
